.br {
  display: block;
  padding: 20%;
}

.strong {
  font-weight: bold;
}
.title{
  display: block;
  color: slategray;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color:	#DCDCDC;
}
#tim{
    width : 150px; height : 150px;
  border: 1px solid gray ;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;bord
}
.button a {
    display:block;
    margin: auto;   
    width:150px;
    line-height:50px;
    text-align:center;
    background-color: red;
    color:white;
    text-decoration:none;
    border: none;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  border-radius : 5px;bord
  ;
    }

header{
    text-align: center;
   background-color: white;
   margin:50px 25% 50px 25%;
   padding: 20px;
}
nav{
    background-color: white;
   margin: 50px 25% 50px 25%;
   padding: 100px;
   display: flex;
   
}
ul, li {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-left: auto;
   margin-right: auto;
   width: ...;
   
  
   }

i{
    color: #DCDCDC;

    
}
a{
    color: #DCDCDC;
    text-align: center;
    text-decoration: none;
    margin-right: 3px;
}
section{
    text-align: center;
    background-color: white;
    margin:50px 25% 50px 25%;
    padding: 20px;
}
h1{
    color: red;
    font-family: "Open-sans";
    font-size: 50px;
}

h2, h3, p, td {
    color: slategrey;
    font-family: "Open-sans";
    line-height: 30px;
}

p, td {
  font-size: 20px;
}
td{
  text-align: left;
padding: 20px;
}